:root{
    --darkGray : rgba(0, 0, 0, 0.8);
    --lightGray: rgb(245, 245, 247);
    --gray:rgb(81, 81, 84);
    --snow : rgb(242, 242, 242);
    --whiteSmoke: rgb(125, 125, 125,1);
    --whiteGray: rgb(195 195 195);
    --midnight: rgb(29,29,31);
    --blue: rgb(0, 113, 227);
}

*,
html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 56px;
    letter-spacing: -.005em;
    line-height: 1.07143;
}
h2{
    font-size: 33px;
    font-weight: 500;
}
h4{
    font-size: 21px;
    font-weight: 400;
}

p, span{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
}
h5{
    font-size: 13.28px
}
ul{
    display: inline-flex;
}

li{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--blue);
}

.btn-primary{
    background: var(--blue);
    color: var(--snow);
    overflow: visible;
    width: 133px;
    cursor: pointer;
    padding: 14px 0;
    align-self: center;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-radius: 22px;
}

.mTop{
    margin-top: 23px;
}

.pTop{
    padding-top: 70px ;
}

.boxFlex{
    display: flex;
    justify-content: center;
}

.boxFlex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100vw;
    background-color: var(--darkGray);
}

header .navbar{
    width: 80%;
    margin: auto;
}

header .navbar ul{
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header .navbar ul li {
    align-items: center;
}

header .navbar ul li a{
    color: var(--lightGray);
    display: block;
    text-align: center;
    padding: 0px 16px;
}

.container-info-hero{
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.container-info-hero p:nth-child(2){
    color: rgb(255, 89, 0);
}

.container-info-hero span{
    margin-top: 50px;
}
.container-info-hero span img{
    width: 100%;
}

.wrapper_content{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.wrapper_content > div{
    width: 50%;
    background-color: var(--snow);
}

.wrapper_content .accesorios{
    background-size: 676px 282px;
    background-image: url("./assets/apple-tools.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 349px;
    padding-left: 4.16667%;
    padding-right: 4.16667%;
    width: 38.54167%;
}

.wrapper_content .info_laptop {
    background-size: 422px 282px;
    background-repeat: no-repeat;
    background-image: url('./assets/laptop-cover.jpg');
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 320px;
}

.wrapper_info{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.wrapper-delivery{
    text-align: center;
    padding-bottom: 40px;
}

.wrapper-delivery img{
    width: 30px;
}

footer{
    background-color: var(--lightGray);
    padding: 10px 0 15px;
}

footer .wrapper-info-footer{
    width: 80%;
    margin: auto;
}

footer p{
    color: var(--whiteGray);
    font-size: 14px;
}

footer .footer-legal-links a{
    color: var(--whiteSmoke);
    border-right: 1px solid var(--whiteSmoke);;
    padding: 0 10px;
    font-size: 14px;
}

footer .footer-legal-links a:nth-child(1){
    padding-left: 0;
}
